:root {
  --main-color: #007bff
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
}

nav div {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav div img {
  width: 50px;
  height: auto;
}

nav div a {
  text-decoration: none;
}

nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
  gap: 10px;
}

nav ul a {
  text-decoration: none;
  color: var(--main-color);
}

.active {
  text-decoration: underline;
}

nav div a,
nav div a.active {
  text-decoration: none;
  color: black;
}
